h1{
  color: red;
  font-size:50px;
}
img:hover {
  background-color: red;
}
.Brocolli{
  background-color: black;
}
.Me{
  background-color: blue;
}
#heading{
  color:blue;
}
.circular{
  border-radius: 100%;
}
#big{
  font-size: 1000px;
}
